PROJECT_ID="your-gcp-project"
REGION="us-central1"
ZONE=""
RIG_NAME=""

NETWORK_NAME=""
SUBNET_NAME=""
NETWORK_CIDR="10.10.0.0/24"
SSH_CIDR="0.0.0.0/0"

CPU_IMAGE_PROJECT="ubuntu-os-cloud"
CPU_IMAGE_FAMILY="ubuntu-2204-lts-amd64"

GPU_IMAGE_PROJECT="deeplearning-platform-release"
GPU_IMAGE_FAMILY=""

GPU_TYPE="nvidia-tesla-t4"
GPU_COUNT_PER_AGENT=1

SERVER_MACHINE_TYPE="e2-standard-2"
GPU_MACHINE_TYPE="n1-standard-4"
SERVER_DISK_GB=30
GPU_DISK_GB=100

USE_SPOT_SERVERS="false"
USE_SPOT_GPU="true"

API_PORT=7700
RAFT_PORT=9700
GOSSIP_PORT=9800
WIREGUARD_PORT=51820

CLUSTER_JOIN_TOKEN=""
API_TOKEN=""

GPU_SMOKE_IMAGE="docker.io/nvidia/cuda:12.4.1-base-ubuntu22.04"
TRAIN_IMAGE="docker.io/library/debian:bookworm-slim"
